/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');

/* Sections style */
@import url('./header.css');

@import url('./badges.css');
@import url('./back-link.css');

/* Базове скидання та шрифт */
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f5f5f5;
  padding: 40px;
}

/* Контейнер для інпуту та кнопки */
.controls {
  display: flex;
  gap: 8px;
  margin-bottom: 32px;
}

#datetime-picker {
  padding: 8px 16px;
  font-size: 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  outline: none;
  width: 272px;
}

#datetime-picker:hover {
  border-color: #000;
}

button[data-start] {
  padding: 8px 16px;
  font-size: 16px;
  background-color: #4e75ff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[data-start]:disabled {
  background-color: #cfcfcf;
  color: #989898;
  cursor: not-allowed;
}

/* Стилізація самого таймера */
.timer {
  display: flex;
  gap: 24px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  font-size: 44px;
  font-weight: 500;
  line-height: 1.1;
}

.label {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 400;
}
